/* styles.css */

/* Change the font color of my headings */
h1, h2 {
  color: #007bff;
}

/* Change the font color and add some margins to my paragraphs*/
p {
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Change the font color of my list items */
ul li {
  color: #555;
}

/* Change the font color of links when added */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Add some padding and background color to my header */
header {
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}

/* Add some padding to the main content I have */
main {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Add some padding and background color to the footer */
footer {
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between; 
}

#aboutMeButton {
  padding: 10px 20px;
  border: none;
  border-top: 3px solid #007bff; 
  border-radius: 0 0 0.2em 0.2em;
  background-color:linear-gradient(top, #555, #333);
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

#aboutMeContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999; 
  padding: 10px; 
  background-color: rgba(0, 123, 255, 0.8); 
  border-radius: 8px;
}

#aboutMeButton:hover {
  background-color: #0056b3;
}


/* Tab styles */
.tab {
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px 5px 0 0; 
  cursor: pointer;
}

.tab:hover {
  background-color: #0056b3; 
}

/* Button styles with animation */
button {
  position: relative;
  height: 4em;
  width: 7em;
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid #007bff; 
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
  animation: wiggle 2s linear infinite; 
}

/* Keyframes for button animation */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/* Add glow and wiggle animation to the button */
.glow-and-wiggle {
  animation: glow-and-wiggle 2s linear infinite;
}

@keyframes glow-and-wiggle {
  0%, 100% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #007bff, 0 0 50px #007bff, 0 0 60px #007bff, 0 0 70px #007bff;
  }
  50% {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #007bff, 0 0 50px #007bff, 0 0 60px #007bff, 0 0 70px #007bff, 0 0 80px #007bff;
  }
}
